<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="full-scr">
    <img src="/wa-data/public/site/img/demontag/StartPicture.jpg" alt="демонтаж здания"
        style="width:100%;">
    <div class="card-img-overlay align-self-center" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-1">
                <p><b>
                        <h2 class="card-title display-4 text-center  hidden-sm-down text-white">
                            Демонтаж зданий в Красноярске</h2>
                    </b></p>
                <p class="lead text-center text-white hidden-xs-down">Строительно-монтажная компания «Базовые
                    технологии» быстро и качественно произведет снос зданий
                    и строений любой сложности.</p><br>
                <div class="hidden-lg-up hidden-xs-down">
                    <p>
                        <center><button href="#" class="call-back-button btn btn-lg btn-success">Получить
                                консультацию</button><br><br>
                            <p style="color:white;"><small class="hidden-xs-down">* отправьте заявку и мы перезвоним вам
                                    через 10 минут</small></p>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center hidden-md-down">
            <div class="col-fluid mb-1">
                <div class="card card-outline-warning">
                    <div class="card-block">
                        <table border="0" class="lead" style=" color:#ffffff;">
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Оперативность</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Высококвалифицированные специалисты</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Собственный парк техники</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Безопасность</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Комплексный подход к работе</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br><br>
                <center>
                    <p class="card-text"><button href="#"
                            class="call-back-button btn btn-lg btn-success hidden-xs-down">Заказать
                            консультацию</button><br>
                        <p style="color:white;"><small class="hidden-xs-down">* отправьте заявку и мы перезвоним вам
                                через 10 минут</small></p>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container"><div class="row justify-content-center">
    <div class="col-md-10 mb-3">
        <div class="card-block">
            <div class="card-block">
                <p align="center" class="display-4">Наш подход к работе</p>
            </div>

            <div class="card"><div class="card-block">
                <p>
                Прежде чем приступить к работам по демонтажу здания проводятся работы по выведению его из
                эксплуатации. К этим работам обязательно относится обследование технического состояния
                зданий, в
                частности несущих строительных конструкций. На основании этого определяется возможность
                применения тех или иных методов сноса зданий. Снос зданий производится с соблюдением
                градостроительного законодательства.</p><p>
                Демонтаж здания выполняется в обратной монтажу последовательности, согласно сроков и
                последовательности календарного плана работ.
                Согласно изменений, внесенных с августа 2018г в Градостроительный кодекс, которые, в том
                числе
                затронули и процедуру сноса зданий, разрешение на демонтаж зданий не требуется при сносе
                садовых
                домиков, гаражей, объектов индивидуального жилищного строительства и хозяйственных построек.
                Для всех остальных случаев необходим проект демонтажа здания.
                </p>
            </div></div></div>
               </div>
    </div>
</div>




<div class="full-scr bg-faded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card-block">
                    <h2>
                        <p class="h3display-4 text-center">Периферия нашей деятельности</p>
                    </h2>
                </div>
            </div>
            <!-- 1 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>

                        <p class="h2 text-primary">&#10102;</p>
                        <p>
                            <center><img src="/wa-data/public/site/img/demontag/razborka_obrush.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="разборка зданий"></center>
                        </p>
                        <p class="text-center">Разборка зданий методом обрушения</p>
                    </center>
                </div>
            </div>
            <!-- 2 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>

                        <p class="h2 text-primary">&#10103;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/planirovka.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="планировка площадей"></center>
                            <center>
                        </p>
                        <p class="text-center">Планировка площадей бульдозерами</p>
                    </center>
                </div>
            </div>
            <!-- 3 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p class="h2 text-primary">&#10104;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/pogruzo_razgruzka.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="погрузо-разгрузочные работы"></center>
                            <center>
                        </p>
                        <p class="text-center">Погрузо-разгрузочные работы при автомобильных перевозках</p>
                    </center>
                </div>
            </div>
            <!-- 4 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p class="h2 text-primary">&#10105;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/samosval.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="перевозка грузов"></center>
                        </p>
                        <p class="text-center">Перевозка грузов автомобилями-самосвалами</p>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>


  <div class="full-scr bg-faded">
    <div class="card-block">
        <div class="row justify-content-center bg-faded">
            <div class="col-md-12 mb-5">
                <div class="card-block">
                    <p align="center" class="display-4">Производим демонтаж:</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Одноэтажных зданий</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/one_etag.jpg"
                                style="width: 100%;" alt="одноэтажное здание"></p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Многоэтажных зданий</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/mnogoetag.jpg"
                                style="width: 100%;" alt="многоэтажное здание" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Зданий из кирпича</h4></p> 
                        <p><img src="/wa-data/public/site/img/demontag/kirpich.jpg"
                                style="width: 100%;" alt="здание из кирпича" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Зданий из дерева</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/derevo.jpg"
                                style="width: 100%;" alt="здание из деревева" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Зданий из блоков</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/bloky.jpg"
                                style="width: 100%;" alt="здание из блоков" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Зданий из сборного железобетона</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/gelezobeton.jpg"
                                style="width: 100%;" alt="здание из сборного железобетона"
                                class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Каркасных зданий</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/karkas.png"
                                style="width: 100%;" alt="каркасные здания" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Отдельных элементов зданий</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/chastichno.jpg"
                                style="width: 100%;" alt="отдельные элементы здания" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Металлоконструкций</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/gelezo.jpg"
                                style="width: 100%;" alt="металлоконструкции" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Рекламных конструкций</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/reclama.jpg"
                                style="width: 100%;" alt="рекламные конструкции" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Высотных конструкций</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/visota.jpg"
                                style="width: 100%;" alt="высотные конструкции" class="opacity"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-block">
                        <p><h4 class="text-center">Инженерных сооружений</h4></p>
                        <p><img src="/wa-data/public/site/img/demontag/ingenern.jpg"
                                style="width: 100%;" alt="инженерные сооружения" class="opacity"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





  <br>
  <div class="card bg-faded">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
        <div class="card-block">
            
            
                <p><h3 class="text-center display-4">Документация по сносу объекта</h3></p>
            </div></div>

        <div class="col-md-10 mb-3">
        <div class="card-block">
        <p>Собственник земельного участка, на котором располагается объект, подлежащий
            сносу, обязан за 7 рабочих дней подать уведомление о планируемом демонтаже здания в орган местного
            самоуправления. К уведомлению на имя главы администрации, собственник должен приложить следующие
            документы: </p>
            </div></div> 
            
        <div class="row justify-content-center hidden-md-down">
            <div class="col-fluid mb-5">
                <div class="card card-outline-warning">
                    <div class="card-block">
                        <table class="lead">
                            <tr>
                                <td></td>
                                <td><b>&#10004; Правоустанавливающие документы на земельный участок</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>&#10004; Правоустанавливающие документы на здание, подлежащее сносу</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>&#10004; Акты обследования технического состояния здания</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>&#10004; Проект организации сноса</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

<div class="col-md-10 mb-3">
        <div class="card-block">
            <p>Далее орган местного самоуправления так же в течение <b>7 рабочих дней</b>
                рассматривает поданное уведомление и проверяет проект демонтажа. Затем передает информацию в
                стройнадзор.</p>
                <p>После окончания работ по демонтажу здания и уборке строительного мусора
                собственник в течение 7 рабочих дней направляет в орган местного самоуправления уведомление об
                окончании работ. После этого собственнику земельного участка необходимо снять снесенное здание с
                кадастрового учета. Наша компания помимо услуг по демонтажу здания может оказать содействие в
                прохождении всех вышеперечисленных процедур.</p>
                {$wa->multiform->form(36)}
        </div></div></div>
    </div>
</div>


</div>

<!-- телефон -->
<br>
<div class="full-scr bg-faded">
    <div class="container">{$wa->block("CTA")}</div>
</div><br>
<!--  -->



  <div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card-block">
        <p><h2 class="display-4 text-center">Существуют следующие способы сноса зданий</h2></p><br>
        <div class="card">
            <div class="card-block">
            <p><b>Снос зданий</b> – это сложный и трудоемкий, а главное опасный
                процесс, который лучше доверить профессионалам.
                Специалисты нашей компании быстро и качественно произведут снос зданий любой сложности, утилизируют
                строительные отходы и засыпят котлован, оставшийся от подвального помещения и фундамента.
                В результате вы получите выровненную площадку для дальнейшего использования.</p>
        </div></div></div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-4 mb-3">
        <div class="card card-outline-primary">
        <div class="card-block">
            <center><p><img src="/wa-data/public/site/img/demontag/mehanicheskiy-demontazh.png" style="width:25%;" alt="механический демонтаж иконка"></p></center><br>
            <p><h3 class="text-center text-primary">Механический демонтаж</h3></p>
            <p>Прежде чем приступить к работам по демонтажу здания проводятся работы по выведению его
                из эксплуатации. К этим работам обязательно относится обследование технического состояния
                зданий, в частности несущих строительных конструкций. На основании этого определяется возможность
                применения тех или иных методов сноса зданий. Снос зданий производится с соблюдением
                градостроительного законодательства. Демонтаж здания выполняется в обратной монтажу последовательности,
                согласно сроков и последовательности календарного плана работ.
                Согласно изменений, внесенных с августа 2018г в Градостроительный кодекс, которые, в том
                числе затронули и процедуру сноса зданий, разрешение на демонтаж зданий не требуется при сносе
                садовых  домиков, гаражей, объектов индивидуального жилищного строительства и хозяйственных
                построек. Для всех остальных случаев необходим проект демонтажа здания.</p>
        </div>
        <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
            style="color:white;">Заказать</a></div>
    </div>
    </div>
    
    
   <div class="col-md-4 mb-3">
        <div class="card card-outline-primary">
        <div class="card-block">
           <center><p><img src="/wa-data/public/site/img/demontag/ruchnoy-demontazh.png" alt="ручной демонтаж иконка" style="width:25%;"></p></center>
            <p><h3 class="text-center text-primary">Ручной демонтаж</h3></p>
            <p class="h6 text-muted text-center">Ручной способ демонтажа зданий применяется, когда работы необходимо проводить с
                достаточно большой точностью при полном или частичном сносе объекта.
                Этот способ так же применяется при демонтаже в условиях уплотненной застройки, когда нет
                возможности использовать специализированную технику. Этот метод применяется при
                демонтаже зданий не более 5 этажей. Так же этот способ используется при выполнении капитального ремонта зданий,
                реставрационных работах, а также, с целью частичного или полного сохранения элементов зданий. При
                демонтаже зданий с помощью ручного способа применяется следующее оборудование: отбойные молотки,
                резаки, в том числе и алмазной резки, различные сверла</p>
        </div>
        <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
            style="color:white;">Заказать</a></div>
    </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card card-outline-primary">
        <div class="card-block">
            <center><p><img src="/wa-data/public/site/img/demontag/vzryvnoy-demontazh.png" alt="взрывной демонтаж иконка" style="width:25%;"></p></center>
            <p><h3 class="text-center text-primary">Взрывной демонтаж</h3></p>
            <p class="h6 text-muted text-center">Взрывной способ применяется при сносе больших зданий и промышленных объектов.
                В настоящее время действующее законодательство РФ жестко регламентирует использование
                взрывчатых веществ. В связи с этим снос зданий с применением взрывчатых веществ производится достаточно
                редко. Обязательным условием применения данного способа является значительная удаленность от
                других существующих зданий.</p>
        </div>
        <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
            style="color:white;">Заказать</a></div>
  </div>
  </div>
  </div>



<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card-block">
            <p>
                <h3 class="text-center display-4">От каких факторов зависит цена на снос здания?</h3>
            </p><br>
            <div class="card">
                <div class="card-block">
                    <p>Цена на снос здания зависит от нескольких факторов, таких как: сложность
                        выполнения работы, площадь и этажность объекта, уплотненность существующей застройки, типа
                        фундамента, толщины и
                        материала стен и перекрытий и др. Поэтому стоимость на демонтаж здания можно определить только
                        после осмотра
                        объекта нашим специалистом. Выезд специалиста на объект и составление сметы на проведение работ
                        при заказе
                        демонтажа здания в нашей компании для вас является бесплатным.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center ">
<div class="col-md-12 mb-5">
<div class="card-block">
<p class="text-center display-4">Этапы выполнения работ по сносу зданий:</p>
</div></div>
<div class="col-md-2 mb-3">
                    <div class="card-block">
                        <center>
                            <p><img src="/wa-data/public/site/img/demontag/1etap.jpg"
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    style="width: 80%; " alt="выезд специалиста">
                            </p>
                            <p class="lead text-center"><b>Выезд специалиста для составления сметы</b></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="card-block">
                        <center>
                        <p><img src="/wa-data/public/site/img/demontag/2etapp.jpg"
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    style="width: 80%; " alt="согласование сроков и плана"></p>
                            <p class="lead text-center"><b>Согласование сроков и плана работ</b></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="card-block">
                        <center>
                      <p><img src="/wa-data/public/site/img/demontag/3etap.jpg"
                                    class="rounded-circle opacity card card-outline-primary" style="width: 80%;"
                                    alt="подпись договора">
                            </p>
                            <p class="lead text-center"><b>Подписание договора</b></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="card-block">
                        <center>
                        <p><img src="/wa-data/public/site/img/demontag/4etap.jpg"
                                    class="rounded-circle opacity card card-outline-primary" style="width: 80%;"
                                    alt="отключение инженерных коммуникаций"></p>
                            <p class="lead text-center"><b>Отключение инженерных коммуникаций (отопление, вода, свет, газ и
                                т.д.)</b></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="card-block">
                        <center>
                        <p><img src="/wa-data/public/site/img/demontag/5etap.jpg"
                                    class="rounded-circle opacity card card-outline-primary" style="width: 80%;"
                                    alt="подготовка территории"></p>
                            <p class="lead text-center"><b>Установка временных ограждений и подготовка территории</b></p>
                        </center>
                    </div>
                </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                              <p><img src="/wa-data/public/site/img/demontag/6etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; " alt="демонтаж кровли"></p>
                                <p class="lead text-center"><b>Демонтаж кровли</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                              <p><img src="/wa-data/public/site/img/demontag/7etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%;" alt="демонтаж верхних этажей"></p>
                                <p class="lead text-center"><b>Демонтаж верхних этажей, с применением специальной техники</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                        <p><img src="/wa-data/public/site/img/demontag/8etapp.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%;" alt="разборка перекрытий">
                                </p>
                                <p class="lead text-center"><b>Разборка межэтажных перекрытий</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                                    <p><img src="/wa-data/public/site/img/demontag/9etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%;" alt="демонтаж нижних этажей">
                                </p>
                                <p class="lead text-center"><b>Демонтаж нижних этажей</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                               <p><img src="/wa-data/public/site/img/demontag/10etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%;" alt="разборка лестниц">
                                </p>
                                <p class="lead text-center"><b>Разборка лестниц</b></p>
                            </center>
                        </div>
                    </div>
                     <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                                                     <p><img src="/wa-data/public/site/img/demontag/11etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; "
                                        alt="снос фундамента и подвальных помещений">
                                </p>
                                <p class="lead text-center"><b>Снос подвальных помещений и фундамента</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                           <p><img src="/wa-data/public/site/img/demontag/12etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; " alt="вывоз строительного мусора"></p>
                                <p class="lead text-center"><b>Вывоз строительного мусора</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                            <p><img src="/wa-data/public/site/img/demontag/13etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; " alt="полная очистка территорий"></p>
                                <p class="lead text-center"><b>Полная очистка территории</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                            <p><img src="/wa-data/public/site/img/demontag/14etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; " alt="сдача работы">
                                </p>
                                <p class="lead text-center"><b>Сдача выполненной работы</b></p>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="card-block">
                            <center>
                                <p><img src="/wa-data/public/site/img/demontag/15etap.jpg"
                                        class="rounded-circle opacity card card-outline-primary"
                                        style="width: 80%; " alt="оплата по договору"></p>
                                <p class="lead text-center"><b>Оплата работ по договору</b></p>
                            </center>
                        </div>
                    </div>
            </div>



<div class="full-scr bg-faded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card-block">
                    <center><p><h3 class="display-4">Почему лучше заказать демонтаж здания у нас?</h3></p></center>
                 
                </div>
            </div>
         
         
         
         </div>
         <div class="row justify-content-center">
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>

                        <p class="h2 text-primary">&#10102;</p>
                        <p>
                            <center><img src="/wa-data/public/site/img/demontag/1zakaz.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="бесплатный выезд"></center>
                        </p>
                        <p class="text-center">Бесплатный выезд специалиста для осмотра</p>
                    </center>
                </div>
            </div>
            <!-- 2 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>

                        <p class="h2 text-primary">&#10103;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/2zakazz.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="бесплатный вывоз"></center>
                            <center>
                        </p>
                        <p class="text-center">Бесплатный вывоз строительных остатков</p>
                    </center>
                </div>
            </div>
            <!-- 3 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p class="h2 text-primary">&#10104;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/3zakaz.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="реализация остатков"></center>
                            <center>
                        </p>
                        <p class="text-center">Реализация пригодных строительных остатков</p>
                    </center>
                </div>
            </div>
            <!-- 4 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p class="h2 text-primary">&#10105;</p>
                        <p>
                            <center><img
                                    src="/wa-data/public/site/img/demontag/4zakaz.jpg"
                                    style="width: 80%; "
                                    class="card-img-top opacity rounded-circle card card-outline-primary"
                                    alt="бесплатная документационная подготовка"></center>
                        </p>
                        <p class="text-center">Бесплатная подготовка проектной документации</p>
                    </center>
                </div>
            </div>
            <!-- 5 -->
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p class="h2 text-primary">&#10106;</p>
                        <p>
                            <center><img 
                                    src="/wa-data/public/site/img/demontag/5zakazz.jpg"
                                    style="width: 80%; " alt="в наличии вся необходимая техника"
                                    class="card-img-top opacity rounded-circle card card-outline-primary">
                            </center>
                        </p>
                        <center>
                            <p class="text-center">Имеем в наличии всю необходимую технику</p>
                        </center>
                </div>
            </div>

        </div>
    </div>
</div>
