<div class="full-scr">
    <img src="/wa-data/public/site/img/razvedochnoe-burenie/razvedochnoe-burenie.jpg" alt="Разведочное бурение"
        style="width:100%;">
    <div class="card-img-overlay align-self-center" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="row justify-content-center">
            <div class="col-md-10 hidden-md-up text-center py-3">
                <center><a href="tel:{$wa->shop->settings('phone')}" style="text-decoration: none;"
                        class="hidden-md-up display-4">{$wa->shop->settings('phone')}</a></center>
            </div>
            <div class="col-md-10 hidden-sm-down mb-1">
                <p><b>
                        <h2 class="card-title display-4 text-center text-white">Разведочное бурение в Красноярске</h2>
                    </b></p>
                <p class="lead text-center text-white hidden-xs-down">Строительно-монтажная компания «Базовые
                    технологии» предлагает вам услуги по разведочному бурению для инженерно-геологических изысканий,
                    определению глубин подземных вод и их химического состава.</p><br>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-fluid hidden-md-down mb-1">
                <div class="card card-outline-primary">
                    <div class="card-block">
                        <table border="0" class="lead" style=" color:#ffffff;">
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Правильное и безопасное бурение</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Собственный парк техники - более 30 едениц спец. техники</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Лучшие инженеры и мастера Красноярска - более 130 специалистов</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все необходимые лицензии СРО и МЧС</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Мы несём ответственность за качество выполненной работы</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все работы выполняются в установленные договором сроки</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 hidden-sm-down ">
                <br><br>
                <center>
                    <p class="card-text"><button href="#"
                            class="call-back-button btn btn-lg btn-primary hidden-xs-down">Заказать
                            консультацию</button><br>
                        <p style="color:white;"><small class="hidden-xs-down">* отправьте заявку и мы перезвоним вам
                                через 10 минут</small></p>
                </center><br>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card-block">
            <p align="center" class="card-title text-center h2">Наше отношение к геологоразведке</p>
        </div>
        <div class="card-block">
            <div class="card">
                <div class="card-block">
                    <p><b>Разведочное бурение</b> – это сложный процесс, который требует использования
                        специализированных технических средств, таких как буровые установки.
                    </p>
                    <p>Разведочное бурение необходимо для выявления глубин залегания подземных вод, оценки их качества,
                        определения и оценки мест залегания полезных ископаемых, а также инженерно-геологических
                        изысканий в рамках геодезических работ для сбора данных для проектирования и строительства. </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div><br>
<div class="card">
    <div class="card text-white">
        <img class="card-img card-img-top"
            src="/wa-data/public/site/img/razvedochnoe-burenie/geologicheskaya-razvedka.jpg"
            alt="геологоразведочное бурение" style="width:100%;">
        <div class="card-img-overlay align-self-center" style="background-color: rgba(0, 0, 0, 0.6)">
            <p>
                <h3 class="card-title text-center">Геологоразведочное бурение</h3>
            </p><br>
            <div class="row justify-content-center ">
                <div class="col-fluid hidden-md-down mb-1">
                    <div class="card card-outline-primary">
                        <div class="card-block">
                            <table border="0" class="lead" style=" color:#ffffff;">
                                <tr>
                                    <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                    <td><b>Установка глубины промерзания грунта в зимнее время</b></td>
                                </tr>
                                <tr>
                                    <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                    <td><b>Определение места расположения неустойчивых грунтов при строительстве</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                    <td><b>Определение глубины водоносного горизонта и физико-химических показателей
                                            воды</b></td>
                                </tr>
                                <tr>
                                    <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                    <td><b>Проведение разведочного бурения перед созданием артезианских скважин</b></td>
                                </tr>
                                <tr>
                                    <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                    <td><b>Проведение разведочного бурения для определения запасов полезных
                                            ископаемых</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 hidden-sm-down mb-1">
                    <p class="lead text-center text-white hidden-xs-down">По результатам геологоразведочного бурения
                        составляется отчет, в котором отражаются все проходимые породы грунта, и делается вывод исходя
                        из целей и задач бурения.</p>
                    </p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="card-deck justify-content-center">
    <div class="card mb-3">
        <div class="card card-outline-primary">
            <div class="card-block">
                <center>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/ingeneer-work.jpg"
                            alt="инженерно-геологические изыскания" style="width:25%;"></p>
                </center>
                <p>
                    <h3 class="text-center text-primary">Инженерно-геологические изыскания</h3>
                </p><br>
                <p>Данные работы проводятся в целях получения сведений о типах грунтов для проектирования и
                    строительства. Так как
                    от типа грунтов зависит тип выбранного фундамента.
                    Каковы последствия неиспользования инженерно-геологических изысканий?
                    В случае проектирования и строительства будущего здания, без использования свежеполученных
                    геологических данных ориентироваться на сведения, полученные ранее по географическому району
                    строительства, то это может повлечь за собой весьма серьезные последствия.
                    Если при проектировании типа фундамента показатели будут занижены, то тип фундамента будет подобран
                    неправильно и в следствие этого здание может наклониться или дать трещины.
                    А если геологические показатели будут завышены, то произойдет необоснованный перерасход материала и
                    в следствие этого возрастет сметная стоимость здания.
                    По результатам инженерно-геологических изысканий выдается заключение о грунтах, которые проходили в
                    процессе бурения с указанием глубин. На основании этих данных проектировщик правильно подбирает тип
                    фундамента с учетом нагрузок на него и на грунт.
                </p>
            </div>
            <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
                    style="color:white;">Заказать</a></div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card card-outline-primary">
            <div class="card-block">
                <center>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/drilling-work.jpg"
                            alt="определение расстояния до подземных вод" style="width:25%;"></p>
                </center>
                <p>
                    <h3 class="text-center text-primary">Определение расстояния до подземных вод</h3>
                </p><br><br>
                <p>Предварительное разведочное бурение дает наиболее полную информацию о глубине будущей скважины и ее
                    дебете. Это дает возможность наиболее точно рассчитать стоимость работ по бурению и обустройству
                    будущей водозаборной скважины.
                    За частую при бурении скважин на воду при определении ее глубины ориентируются на глубины уже
                    пробуренных скважин в данном районе. Бывают случаи, когда глубины залегания вод на соседних участках
                    различаются достаточно сильно. А заказчики, рассчитывая на одну сумму сталкиваются с достаточно
                    сильным ее увеличением. И эта сумма не всегда бывает подъемной для них и не до буренные скважины
                    просто бросают.
                    Для избегания подобных неприятных последствий рекомендуется проведение разведочного бурения. Оно по
                    стоимости в разы ниже стоимости полноценной скважины, но дает достаточно точную и полную информацию
                    о глубинах залегания вод и дебете скважины.
                </p>
            </div>
            <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
                    style="color:white;">Заказать</a></div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card card-outline-primary">
            <div class="card-block">
                <center>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/laboratory-work.jpg"
                            alt="определение химического состава воды" style="width:25%;"></p>
                </center>
                <p>
                    <h3 class="text-center text-primary">Определение химического состава подземных вод</h3>
                </p><br>
                <p>Иногда после того как вы пробурили водозаборную скважину, прокачали ее, но вкус и запах воды вас не
                    устраивает. Перед вами встает вопрос. А пригодна ли эта вода для питья? Ответ на этот вопрос вам
                    даст химический анализ воды.
                    Химический анализ воды из водозаборной скважины рекомендуется проводить только через 3 – 4 недели
                    после окончания бурильных работ и активной прокачке скважины.
                    Примеси в воде и их количество определяется при помощи ее анализа и согласно СанПиН 2.1.4.1074-01.
                    На основании этого дается заключение (протокол) о ее пригодности к употреблению в пищу.
                </p>
            </div>
            <div class="card-footer"><a href="#" class="call-back-button btn btn-primary btn-block"
                    style="color:white;">Заказать</a></div>
        </div>
    </div>
</div><br>
<div class="card">
    <p>
        <h3 class="card-title  text-center">Задачи, решаемые с помощью разведочного бурения на воду:</h3>
    </p><br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/vodonosnye-gorizonty.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="поиск водоносных горизонтов">
                        </p>
                    </center>
                    <p class="lead text-center"><b>Есть ли на участке водоносные горизонты</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/glubina-raspolozheniya-vodonosnogo-gorizonta.jpg"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="определение глубины водоносного горизонта"></p>
                    </center>
                    <p class="lead text-center"><b>Определить глубину расположения водоносного горизонта</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/opredelenie-kolichestva-vody.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="определение качества воды"></p>
                    </center>
                    <p class="lead text-center"><b>Определить количество воды, которую можно накачать из скважины</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/opredelenie-sostava-grunta.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="определение состава грунта"></p>
                    </center>
                    <p class="lead text-center"><b>Определить состав грунта на обследуемом участке</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/opredelenie-sostava-vody.jpg"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="определение физического и химического состава воды"></p>
                    </center>
                    <p class="lead text-center"><b>Определить физический и химический состав воды в будущей скважине</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<div class="card">
    <p>
        <h3 class="card-title  text-center">В каких случаях нужен химический анализ воды:</h3>
    </p><br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/podbor-filtrov.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="подбор фильтров"></p>
                    </center>
                    <p class="lead text-center"><b>Подбор фильтров для очистки воды</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/problemy-so-zdorovem.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="проблемы со здоровьем"></p>
                    </center>
                    <p class="lead text-center"><b>Начались проблемы со здоровьем после употребления воды</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/dom-s-vodozabornoy-skvazhinoy.jpg"
                                style="width:100%;" class="opacity rounded-circle" alt="водозаборная скважина"></p>
                    </center>
                    <p class="lead text-center"><b>При купле-продаже дома с водозаборной скважиной</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9">
                <p class="text-center h4">Как проводится анализ воды?</p>
                <div class="card-block">
                    <p class="text-justify">После заказа данной услуги в нашей компании, к вам приедет специалист для
                        забора проб воды. Забор проводится в специальные контейнеры, которые маркируются. Далее
                        специалист доставляет пробы в лабораторию, где эксперты приступают к их исследованию. После
                        окончания исследования выдается официальный протокол, в котором будут отражены все результаты
                        исследований и рекомендации по устранению проблем.</p>
                    <p class="text-justify">После получения заключения о химическом анализе воды из скважины специалисты
                        нашей компании помогут подобрать вам фильтры для воды, чтобы очистить ее от примесей и вредных
                        веществ.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="full-scr bg-faded">
    <div class="container">{$wa->block("CTA")}</div>
</div><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3">
            <div class="card-block">
                <p class="card-title text-center h2">Как мы работаем?</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10102;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/vyezd-specialista.jpg" style="width:50%;"
                            class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="выезд специалиста"></p>
                    <p class="text-center lead text-primary"><b>Выезд специалиста на место бурения</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10103;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/zakluchenie-dogovora.jpg"
                            style="width:50%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="заключение договора"></p>
                    <p class="text-center lead text-primary"><b>Заключение договора на разведочное бурение</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10104;</p>
                    <center>
                        <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/vyezd-brigady.jpg" style="width:50%;"
                                class="card-img-top opacity rounded-circle card card-outline-primary"
                                alt="выезд бригады"></p>
                        <p class="text-center lead text-primary"><b>Выезд бригады для проведения буровых работ</b></p>
                    </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10105;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/opredelenie-rasstoyaniya-do-podzemnyh-vod.jpg"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="определение глубины залегания вод"></p>
                    <p class="text-center lead text-primary"><b>Определение глубины залегания вод.</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10106;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/opredeleniya-himicheskogo-sostava-podzemnyh-vod.jpg"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="химический анализ воды"></p>
                    <p class="text-center lead text-primary"><b>Определение ее химического состава подземных вод.</b>
                    </p>
                </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10107;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/vydacha-rezultatov.jpg"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="выдача результатов"></p>
                </center>
                <center>
                    <p class="text-center lead text-primary"><b>Оформление и выдача заказчику необходимых результатов
                            обследования и заключений.</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10108;</p>
                    <p><img src="/wa-data/public/site/img/razvedochnoe-burenie/oplata-po-dogovoru.jpg"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="подписание и оплата"></p>
                    <p class="text-center lead text-primary"><b>Подписание акта выполненных работ и оплата по договору.
                        </b></p>
                </center>

            </div>
        </div>
        <p class="text-center lead"><b>Опытные специалисты нашей компании быстро и качественно выполнят для вас работы
                по
                разведочному бурению в соответствии с действующими строительными нормами и правилами, и государственными
                стандартами.</b></p><br>
    </div>
</div><br>
{$wa->block("footerbtmap")}