<div class="full-scr">
    <img src="/wa-data/public/site/img/santehnicheskie-raboty/santehnika.jpg" alt="сантехника"
        style="width:100%;">
    <div class="card-img-overlay align-self-center" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="row justify-content-center">
            <div class="col-md-10 hidden-md-up text-center py-3">
                <center><a href="tel:{$wa->shop->settings('phone')}" style="text-decoration: none;"
                        class="hidden-md-up display-4">{$wa->shop->settings('phone')}</a></center></div>
            <div class="col-md-10 hidden-sm-down mb-1">
                <p><b><h2 class="card-title display-4 text-center text-white">Сантехника в Красноярске</h2></b></p>
                <p class="lead text-center text-white hidden-lg-down">Строительная компания Базовые Технологии разработает проект, смонтирует и возьмет на сервисное обслуживание сантехнические системы любой сложности, а также окажет услуги по ремонту сантехники в Красноярске или модернизации уже существующих систем.</p><br>
            </div></div>
        <div class="row justify-content-center ">
            <div class="col-fluid hidden-md-down mb-1">
                <div class="card card-outline-primary">
                    <div class="card-block">
                        <table border="0" class="lead" style=" color:#ffffff;">
                        <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Более 300 реализованных договоров на проектирование, монтаж и сервисное обслуживание сантехнических систем</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все необходимые лицензии СРО</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Мы даём расширенную гарантию на выполненную нами работу на 2 года</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Профессиональное выполнение сантехнических работ с соблюдением строительных норм</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все работы выполняются качественно в установленные договором сроки</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 hidden-sm-down ">
                <br><br>
                <center>
                    <p class="card-text"><button href="#"
                            class="call-back-button btn btn-lg btn-primary hidden-xs-down">Заказать
                            консультацию</button><br>
                        <p style="color:white;"><small class="hidden-xs-down">* отправьте заявку и мы перезвоним вам
                                через 10 минут</small></p>
                </center><br>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card-block">
            <div class="card">
                <div class="card-block">
                    <p>Наши опыт и знания обеспечивают качество услуг, а двухлетняя гарантия на выполненные сантехнические работы служит свидетельством уверенности в надежности используемых материалов или комплектующих.</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-block">
            <p><h2 class="card-title  text-center">Виды услуг или выполняемых работ</h2></p>
            </div><br><br>
            <div class="card-block">
    <p align="center" class="card-title text-center h4">Полный прайс на сантехнические работы включает в себя большое количество сантехнических услуг, основными из которых выступают следующие:
    </p>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 1"
                                style="width:100%;" class="opacity rounded-circle" alt="обследование и замена лежаков канализации">
                        </p>
                    </center>
                    <p class="lead text-center"><b>Обследование и замена лежаков канализации, водоснабжения или отопления в подвале многоквартирных домов с согласованием материала используемых труб</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 2"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="вВодомерные узлы"></p>
                    </center>
                    <p class="lead text-center"><b>Проектирование, комплектация, установка или замена водомерных узлов, а также ремонт или замена комплектующих действующих водомерных приборов при их аварийной остановке</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 3"
                                style="width:100%;" class="opacity rounded-circle" alt="работа с счётчиками тепла"></p>
                    </center>
                    <p class="lead text-center"><b>Установка, монтаж и замена индивидуальных или коллективных счетчиков тепла, а также услуги по проектированию, поставке оборудования, монтажу или сервисному обслуживанию тепловых узлов</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 4"
                                style="width:100%;" class="opacity rounded-circle" alt="полный комплекс строительных и монтажных работ"></p>
                    </center>
                    <p class="lead text-center"><b>Полный комплекс строительных и монтажных работ по замене труб или стояков горячего и холодного водоснабжения в многоквартирных или частных домах</b></p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 5"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="промывка и опрессовка систем отопления"></p>
                    </center>
                    <p class="lead text-center"><b>Все виды услуг по промывке и опрессовке систем отопления или водоснабжения для управляющих компаний или частных лиц, а также прочистка и ликвидация засоров в сетях канализации</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 6"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="узлы учёта, тепловые пункты или насосные группы"></p>
                    </center>
                    <p class="lead text-center"><b>Проектирование, изготовления, монтаж и техническое обслуживание узлов учета, тепловых пунктов или насосных групп повышения давления</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 7"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="монтаж или замена наружных и внутренних сетей"></p>
                    </center>
                    <p class="lead text-center"><b>Профессиональный и качественный монтаж или замена наружных и внутренних сетей горячего или холодного водоснабжения</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 8"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="техническое обслуживание"></p>
                    </center>
                    <p class="lead text-center"><b>Техническое обслуживание всех видов контрольно-измерительной аппаратуры и автоматики, с ремонтом или заменой оказавшей техники или ее комплектующих</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 9"
                                style="width:100%;" class="opacity rounded-circle"
                                alt="замена или ремонт сантехники"></p>
                    </center>
                    <p class="lead text-center"><b>Полный комплекс работ по замене или ремонту сантехники в квартире или частном доме, а также услуги по замене аварийных радиаторов отопления</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9">
                <div class="card-block">
                    <p class="text-justify">Компания заключает отдельные договора на аварийно-техническое обслуживание всех видов оборудования и систем.</p>
                    <p class="text-justify">Все расценки на сантехнические работы являются ориентировочными и зависят от конкретных условий проведения работ. Сопутствующие факторы или условия могут корректировать цену как в большую, так и в меньшую сторону.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center h4">Преимущества надежной сантехники и своевременного сервиса </p>
            </div></div>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 1" style="width:70%;"
                                class="opacity rounded-circle" alt="надёжное оборудование"></p>
                    </center>
                    <p class="lead text-center"><b>Надежное оборудование и сервисный договор на его обслуживание служат надежной защитой от поломок, засоров или подтоплений</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 2" style="width:70%;"
                                class="opacity rounded-circle" alt="современные счётчики воды"></p>
                    </center>
                    <p class="lead text-center"><b>Современные счетчики воды экономят бюджет, а также дают защиту от штрафных санкций</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 3" style="width:70%;"
                                class="opacity rounded-circle" alt="гарантия отсутствие претензий"></p>
                    </center>
                    <p class="lead text-center"><b>Исправное оборудование гарантирует отсутствие претензий или замечаний при проверках уполномоченных организаций</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 4"
                                style="width:70%;" class="opacity rounded-circle" alt="проффесиональное проктирование и монтаж сантехсистем"></p>
                    </center>
                    <p class="lead text-center"><b>Профессиональное проектирование или монтаж сантехсистем дают основания для быстрого введения зданий в эксплуатацию</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 5" style="width:70%;" class="opacity rounded-circle" alt="сервисный договор"></p>
                    </center>
                    <p class="lead text-center"><b>Сервисный договор на аварийно-техническое обслуживание предотвращает серьезные поломки оборудования или длительные перерывы в его работе</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                    <p><img src="Картинка 6" style="width:70%;" class="opacity rounded-circle" alt="один подрядчик"></p></center>
                    <p class="lead text-center"><b>Один подрядчик на всех этапах от проектирования до сервисного обслуживания экономит время, нервы и деньги наших заказчиков</b></p>
                    </div></div>
                </div>
            </div>
</div>
<br>
<div class="full-scr bg-faded">
    <div class="container">{$wa->block("CTA")}</div>
</div>
<br>
<br>
<div class="card">
<p><h3 class="card-title  text-center">Этапы сотрудничества по заказу сантехнических услуг</h3></p><br>
<div class="container">
    <div class="row justify-content-center">
                <div class="col-md-10 hidden-sm-down mb-1">
                    <p class="lead text-center hidden-xs-down">Для простоты и наглядности работы с компанией Базовые Технологии мы приводим пошаговую инструкцию для каждого этапа работ, выполнение которых не требует больших усилий или затрат:</p>
                    </p><br>
                </div>
            </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 1" style="width:70%;"
                                class="opacity rounded-circle" alt="звонок"></p>
                    </center>
                    <p class="lead text-center"><b>Для начала работы достаточно позвонить в офис, оставить заявку на сайте или оформить заказ обратного звонка на этой странице</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 2" style="width:70%;"
                                class="opacity rounded-circle" alt="обратная связь"></p>
                    </center>
                    <p class="lead text-center"><b>Наши инженеры связываются с вами для дополнительных консультаций, уточнения деталей и составления предварительной сметы на будущие работы</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 3" style="width:70%;"
                                class="opacity rounded-circle" alt="выезд специалиста"></p>
                    </center>
                    <p class="lead text-center"><b>Выезд нашего специалиста на объект для окончательного уточнения сметы и подписания договора на оказание услуг или выполнения монтажа</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 4"
                                style="width:70%;" class="opacity rounded-circle" alt="доставка инструментов на объект"></p>
                    </center>
                    <p class="lead text-center"><b>Комплектация сантехники необходимыми материалами и оборудованием и доставка их на объект</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="Картинка 5" style="width:70%;" class="opacity rounded-circle" alt="выезд бригады"></p>
                    </center>
                    <p class="lead text-center"><b>Выезд на объект монтажной бригады и выполнение всего цикла работ в соответствии с утвержденными графиком и сметами</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                    <p><img src="Картинка 6" style="width:70%;" class="opacity rounded-circle" alt="подписание акта сдачи-приёмки"></p></center>
                    <p class="lead text-center"><b>После подписания акта сдачи-приемки выполняется полный расчет за выполненные работы по заключенному договору</b></p>
                    </div></div>
                </div>
            </div>
<div class="container  bg-faded">
<div class="row justify-content-center">
<div class="col-sm-12 col-md-9">
<div class="card-block">
<p class="text-justify">В отдельных случаях можно просто по телефону офиса вызвать сантехника на дом в Красноярске, а все переговоры и расчеты произвести на месте. К таким работам относится замена сантехники или текущий ремонт сантехнического оборудования.</p>
</div></div></div></div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3">
            <div class="card-block">
                <p class="card-title text-center h2">Выгоды от сотрудничества с Базовыми Технологиями</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10102;</p>
                    <p><img src="Картинка 1" style="width:50%;"
                            class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="комплексные услуги"></p>
                    <p class="text-center lead text-primary"><b>Комплексный характер услуг уменьшает сроки проведения работ, а жесткий график их выполнения сопровождается штрафными санкциями в разделе ответственности исполнителя заключаемого договора</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10103;</p>
                    <p><img src="Картинка 2"
                            style="width:50%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="стаж работы"></p>
                    <p class="text-center lead text-primary"><b>Стаж работы наших специалистов по заданному профилю составляет не менее 10 лет. Данный фактор дополнен внутрифирменной системой постоянного повышения квалификации</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10104;</p>
                    <center>
                        <p><img src="Картинка 3" style="width:50%;"
                                class="card-img-top opacity rounded-circle card card-outline-primary"
                                alt="гарантия"></p>
                        <p class="text-center lead text-primary"><b>Два года гарантии на все виды работ по проектированию, монтажу и ремонту сантехники дают нашим клиентам уверенность в качестве выполненных услуг</b></p>
                    </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10105;</p>
                    <p><img src="Картинка 4"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="получение полностью исправного комплекта сантехнического оборудования"></p>
                    <p class="text-center lead text-primary"><b>После выполнения всех работ заказчик получает полностью исправный и рабочий комплект сантехнического оборудования, который дополнен договором на его гарантийное или сервисное обслуживание</b></p>
                </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10106;</p>
                    <p><img src="Картинка 5"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="соблюдение всех нормативных требований"></p>
                    <p class="text-center lead text-primary"><b>Соблюдение нашей компанией всех нормативных требований и стандартов избавляет клиента от штрафных санкции и предписаний</b>
                    </p>
                </center>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card-block">
                <center>
                    <p class="h2 text-primary">&#10107;</p>
                    <p><img src="Картинка 6"
                            style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary"
                            alt="все используемые материалы прошли проверку"></p>
                    <p class="text-center lead text-primary"><b>Используемые при проведении работ материалы и комплектующие прошли проверку временем на других объектах нашей компании, а собственная база отказов исключает поставщиков с низким уровнем надежности оборудования</b></p>
                </center>
            </div>
        </div><br>
    </div>
</div><br>
{$wa->block("footerbtmap")}