<br>
<br>
<p>Если вы не использовали септик и систему канализации в зимнее время в частном загородном доме и были проведены работы по их «консервации», то при наступлении весны необходимо проведение работ по их «расконсервации».</p>

<p><!-- more --></p>
<br>
<div class="row justify-content-center">
<div class="col-md-10 card bg-faded"><div class="card-block">
<ul>
<li><a href="#1">Расконсервация септиков</a></li>
<li><a href="#2">Схема подготовки канализации к лету</a></li>
</ul></div>
</div>
</div>

<div class="row justify-content-center">
<div class="col-md-12"><div class="card-block">
<p><h2 id="1">Расконсервация септиков</h2></p>
<p>Консервация различных видов септиков, как правило, производится по различной технологии, указанной в инструкции, а вот расконсервация производится по общим правилам.</p>
</div></div>
<div class="col-md-12">
<p><h3 class="h5 text-muted text-center"><small>Общие правила расконсервации септиков:</small></h3></p></div>
<div class="col-md-4 align-self-center mb-3"><div class="card-block">
<center><p><img src="/wa-data/public/site/img/podgotovka-septika/obshchie-pravila-raskonservacii-septikov.jpg" alt="общие правила расконсервации" class="card card-outline-primary rounded-circle"></p></center></div></div>
<div class="col-md-8 align-self-center"><div class="card-block">
<ol class="mb-3 py-3">
<p><li>Расконсервация должна производится только когда отступит угроза сильных заморозков.</li></p>
<p><li>Первый запуск должен производится без включения электроэнергии, электропитание нужно подключать только после того как проведена проверка.</li></p>
<p><li>Расконсервация должна производится в порядке обратном проведению работ по консервации.</li></p>
<p><li>Очень важно установить все элементы системы правильно.</li></p>
<p><li>В первое время эксплуатации (до 4 дней) систему рекомендуется не нагружать.</li></p>
</ol>
</div>
</div>
</div>

<div class="alert alert-warning"><div class="card-block"><p> Важно все работы по расконсервации выполнить правильно. Неправильно выполненные работы могут повлечь за собой последствия, связанные с ремонтом. В связи с этим данные работы лучше доверить профессионалам.</p>
</div></div>

<div class="row justify-content-center">
<div class="col-md-12 mb-3"><div class="card-block">
<p><h3>Порядок расконсервации септика:</h3></p>
</div></div>
<div class="col-md-4 align-self-center mb-3"><div class="card-block">
<center><p><img src="/wa-data/public/site/img/podgotovka-septika/proverka-konstrukcii.jpg" alt="проверка конструкции" class="card card-outline-primary rounded-circle" style="width:100%;"></p></center></div></div>
<div class="col-md-8 align-self-center"><div class="card-block">
<ul class="mb-3 py-3">
<p><li><b>Сначала</b> снимают утеплитель с крышки септика.</li></p>
<p><li><b>Нужно проверить корпус</b> на наличие повреждений. Нужно обратить внимание есть ли трещины на корпусе, течей, поломок пластика или затопления. Так же важно обратить внимание на глубину расположения септика, если глубина стала выше, это значит, что за зимний период грунт начал выталкивать систему.</li></p>
<p><li><b>После открывания крышки</b> нужно осмотреть конструкцию изнутри на наличие повреждений.</li></p>
</ul>
</div></div>
<div class="col-md-4 align-self-center mb-3"><div class="card-block">
<center><p><img src="/wa-data/public/site/img/podgotovka-septika/podklyuchenie-elektrosnabzheniya.jpg" alt="подключение" class="card card-outline-primary rounded-circle" style="width:100%;"></p></center>
</div>
</div>
<div class="col-md-8 align-self-center"><div class="card-block">
<ul class="mb-3 py-3">
<p><li><b>Бутылки</b>, которые находятся внутри септика и используются как поплавки, необходимо удалить.</li></p>
<p><li><b>Необходимо проверить </b>имеющиеся фильтры, трубки и перегородки на наличие повреждений.</li></p>
<p><li><b>Проверяем уровень воды в емкостях</b>, он должен составлять от 70 до 75% высоты. За период отдыха системы вода могла испариться, а для правильного функционирования ее должно быть достаточное количество.</li></p>
</ul>
</div></div>
<div class="col-md-4 align-self-center mb-3"><div class="card-block">
<center><p><img src="/wa-data/public/site/img/podgotovka-septika/proverka-sistemy.jpg" alt="проверка системы" class="card card-outline-primary rounded-circle" style="width:100%;"></p></center>
</div></div>
<div class="col-md-8 align-self-center"><div class="card-block">
<ul class="mb-3 py-3">
<p><li><b>Проводят подключение оборудования</b>, компрессоров, поплавков, насосов. Компрессор и насос перед использованием необходимо просушить.</li></p>
<p><li><b>Подключают</b> систему электроснабжения.</li></p>
<p><li><b>Проверяют правильность работы всей системы</b>. В доме необходимо включить воду, при этом крышка должна быть открыта, это нужно что бы убедиться в правильности работы по очистки стоков.</li></p>
</ul>
</div></div>
<div class="alert alert-warning"><div class="card-block"><p>Очень важно помнить, что в первые дни систему перегружать нельзя. Правильно подключенная система очистки прослужит долгое время.</p>
</div></div>
<div class="row justify-content-center">
<div class="col-md-12"><div class="card-block">
<p><h2 id="2">Схема подготовки канализации к лету</h2></p>
<ol class="py-3">
<p><li><b>Сначала необходимо убедиться</b>, что не затоплен отсек компрессора. Если он затоплен, то его необходимо тщательно просушить.</li></p>
<p><li><b>Устанавливают все демонтированное</b>.</li></p>
<p><li><b>Заполняют водой станцию</b> канализации до необходимого уровня.</li></p>
<p><li><b>Проверяют правильность работы системы</b>. Поплавок на станции перекачки должен находиться вверху, а на внутренней станции – внизу.</li></p>
</ol>
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-12"><div class="card-block">
<p><h3 class="text-muted"><small>Если по какой-то причине работы по консервации были выполнены не правильно, то необходимо провести ряд мероприятий по очистке системы канализации:</small></h3></p>
</div>
</div>  
<div class="col-md-4 align-self-center mb-3"><div class="card-block">
<center><p><img src="/wa-data/public/site/img/podgotovka-septika/remont-septika.jpg" alt="исправление недочётов" class="card card-outline-primary rounded-circle"></p></center></div></div>
<div class="col-md-8 align-self-center"><div class="card-block">
<ol class="mb-3 py-3">
<p><li><b>Необходимо</b> из отстойника вычистить весь собравшийся там ил.</li></p>
<p><li><b>Тщательно</b> промывают фильтр компрессора.</li></p>
<p><li><b>Прочищают</b> жиклеры.</li></p>
<p><li><b>Проверяют герметичность всех шлангов</b>, подключенных к жиклерам.</li></p>
</ol>
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="alert alert-warning"><div class="card-block"><p>Конечно лучше все работы по консервации и расконсервации системы канализации и септика лучше доверить профессионалам. Самый лучший вариант – это когда компания, которая производила работы по <a href="https://124bt.ru/proektirovanie/vodosnabzheniya-i-kanalizatsii/" target="_blank" style="text-decoration:none;">проектированию</a> и <a href="https://124bt.ru/kanalizatsiya/" target="_blank" style="text-decoration:none;">монтажу системы канализации</a> а так же ее <a href="https://124bt.ru/kanalizatsiya/prochistka-promyvka/" target="_blank" style="text-decoration:none;">прочистку и промывку</a>, будет проводить и работы по их <a href="https://124bt.ru/kanalizatsiya/obsluzhivanie/" target="_blank" style="text-decoration:none;">обслуживанию</a>.</p></div></div>
</div></div>