  <div class="full-scr">
    <img src="/wa-data/public/site/img/gazobeton/proektirovanie-domov-iz-gazobetona.jpg" alt="проектирование домов из газобетона"
        style="width:100%;">
    <div class="card-img-overlay align-self-center" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="row justify-content-center">
            <div class="col-md-10 hidden-md-up text-center py-3">
                <center><a href="tel:{$wa->shop->settings('phone')}" style="text-decoration: none;"
                        class="hidden-md-up display-4">{$wa->shop->settings('phone')}</a></center></div>
            <div class="col-md-10 hidden-sm-down mb-1">
                <p><b><h2 class="card-title display-4 text-center text-white">Проектирование домов из газобетона в Красноярске</h2></b></p>
                <p class="lead text-center text-white hidden-lg-down">Строительно – монтажная компания «Базовые технологии» окажет вам помощь в выборе проекта дома, его корректировки по вашим пожеланиям и дальнейшей его реализации.</p><br>
            </div></div>
        <div class="row justify-content-center ">
            <div class="col-fluid hidden-md-down mb-1">
                <div class="card card-outline-primary">
                    <div class="card-block">
                        <table border="0" class="lead" style=" color:#ffffff;">
                        <tr>
<td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все наши типовые проекты выполнены профессиональными архитекторами</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Наши специалисты могут создать 3D модель заказанного у нас проекта</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Мы несём ответственность за качество выполненной работы</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Заключаем договор и выдаем полный пакет документов</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Все работы выполняются в установленные договором сроки</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 hidden-sm-down ">
                <br><br>
                <center>
                    <p class="card-text"><button href="#"
                            class="call-back-button btn btn-lg btn-primary hidden-xs-down">Заказать
                            консультацию</button><br>
                        <p style="color:white;"><small class="hidden-xs-down">* отправьте заявку и мы перезвоним вам
                                через 10 минут</small></p>
                </center><br>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row justify-content-center">
<div class="col-sm-11 col-md-9">
<div class="card">
<div class="card-block">
<p>Самым лучшим вариантом при строительстве является тот вариант, при котором проект создается и реализуется одной и той же компанией, это поможет избежать лишних капитальных затрат, так как при заказе всего комплекса работ наша компания некоторые виды работ выполняет бесплатно – в подарок.</p>
<p>Газобетон является современным строительным материалом. Строительство загородных домов из этого материала отвечает всем современным требованиям, предъявляемым к строительству загородных домов. Многие считают его наилучшим строительным материалом, сочетающим в себе оптимальное сочетание цены и качества.</p>
</div></div></div></div>
<br>
<div class="card text-white">
<img class="card-img card-img" src="/wa-data/public/site/img/gazobeton/proektirovanie.jpg" alt="проектирование" style="width:100%;">
<div class="card-img-overlay align-self-center hidden-md-down" style="background-color: rgba(0, 0, 0, 0.6)">
<div class="row justify-content-center">
    <div class="col-md-10 mb-3">
                <div class="card-block"><p><h3 class="card-title text-center h1">Проектирование</h3></p>
</div></div>
<div class="col-md-10 mb-3">
        <div class="card-block">
        <p>Неотъемлемым этапом строительства является создание его проекта. Проектирование – это важнейший этап, от которого зависит комфортность и долговечность всего дома. От правильно созданного проекта зависит весь дальнейший ход строительства и затраты на расход материалов по его реализации.</p>
            </div></div> 
            <div class="col-md-10 mb-3">
                <div class="card-block"><p class="card-title text-center h4">Для чего заказывают проекты домов?</p>
</div></div>

        <div class="col-fluid mb-3 hidden-sm-down">
                    <div class="card-block">
                        <ul class="lead">
            <p><b><li>Точный расчет расходов до начала строительства</li></b></p>
           <p><b><li>Соблюдение строительных норм и этапов строительства</li></b></p>
            <p><b><li>Избежание недочетов в планировании здания</li></b></p>
            <p><b><li>Предотвращение внеплановых расходов</li></b></p>
            </ul>
           
            </div></div>
            <div class="col-md-10 mb-3">
        <div class="card-block">
        <p>Вы можете выбрать типовой проект загородного дома из предложенных проектов в <a href="https://proekt.124bt.ru/">нашем каталоге</a>. Или наши специалисты могут изменить типовой проект под ваши пожелания со всеми расчетами или создать новый по вашим пожеланиям.</p>
            </div></div> 
        </div>
</div></div>
<br>
<div class="row justify-content-center">
<div class="card bg-faded">
<div class="row justify-content-center">
<div class="col-md-12 mb-3">
<div class="card-block">
<p><h3 class="text-center display-4">Почему необходимо заказывать проект дома?</h3></p>
            </div></div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 ml-5 mx-5">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/izbezhanie-oshibok-i-nedochetov-v-proektirovanii.jpg" style="width:100%;"
                                class="opacity rounded-circle card" alt="избегание ошибок"></p>
                    </center><br>
                    <p class="lead text-center"><b>Избегание ошибок и недочетов в проектировании</b></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 ml-5 mx-5">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/ekonomiya-na-materialah-i-srokah.jpg" style="width:100%;"
                                class="opacity rounded-circle card" alt="экономия на материалах"></p>
                    </center><br>
                    <p class="lead text-center"><b>Экономия на материалах и сроках</b></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 ml-5 mx-5">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/vizualizaciya-zakonchennogo-proekta-doma.jpg" style="width:100%;"
                                class="opacity rounded-circle card" alt="визуализация проекта"></p>
                    </center><br>
                    <p class="lead text-center"><b>Визуализация законченного проекта дома</b></p>
                </div>
            </div>
            <div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center h4">Наши специалисты имеют большой опыт в проектировании. Проектирование осуществляется с соблюдением нормативно-правовых основ проектирования: </p>
            </div></div>
            
            <div class="col-fluid mb-3 hidden-sm-down">
                <div class="card-block">
                    <div class="row justify-content-center">
                    <div class="col-md-8 mb-3">
                <div class="card card-outline-primary align-self-center">
                    
<div class="card-block">
                        <table border="0" class="lead">
                            
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Градостроительного кодекса РФ</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Федерального закона «Об архитектурной деятельности в Российской федерации»</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Федерального закона «О техническом регулировании»</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Постановления Правительства РФ «О порядке организации и проведения государственной экспертизы проектной документации и результатов инженерных изысканий»</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Правил землепользования и застройки</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Строительных норм и правил</b></td>
                            </tr>
                            <tr>
                                <td><img src="/wa-data/public/site/img/all/tick.png" alt="услуги"></td>
                                <td><b>Санитарных норм и правил</b></td>
                            </tr>
                        </table>
                    </div>
                    </div>
                    </div>
                </div></div>
            </div>
    </div>
    
<div class="card-block">
<p class="text-center h4">Наши специалисты-проектировщики выполнят проект из газобетона:</p>
            </div>
    <div class="row justify-content-center">
<div class="col-md-4 mb-3">
<p class="text-center h5">Индивидуальных жилых домов</p><div class="card-block">
<p><img src="/wa-data/public/site/img/gazobeton/individualnyy-zhiloy-dom.jpg" style="width: 100%;" alt="индивидуальный жилой дом"></p>
</div></div>
<div class="col-md-4 mb-3">
<p class="text-center h5">Производственно-складских объектов</p><div class="card-block">
<p><img src="/wa-data/public/site/img/gazobeton/proizvodstvenno-skladskoy-obekt.jpg" style="width: 100%;" alt="производственно-складской объект"></p>
</div></div>
<div class="col-md-4 mb-3">
<p class="text-center h5">Торгово-развлекательных объектов</p><div class="card-block">
<p><img src="/wa-data/public/site/img/gazobeton/torgovo-razvlekatelnyy-obekt.jpg" style="width: 100%;" alt="торгово-развлекательный объект"></p>
</div></div> <br></div>
    </div></div><br>
    <div class="full-scr bg-faded">
<div class="container">{$wa->block("CTA")}</div></div>
<br><br>
<br><br>
<div class="card">
<div class="card text-white">
<img class="card-img card-img-top" src="/wa-data/public/site/img/gazobeton/Preimushchestvo-gazobetonnyh-blokov.jpg" alt="газобетонные блоки" style="width:100%;">
<div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.6)">
<p><h3 class="card-title  text-center">Конструкции из газобетона</h3></p><br>
<div class="card-block"><div class="card-block">
<p class="card-text text-justify hidden-sm-down"><b>Газобетон</b> в настоящее время является одним из самых популярных строительных материалов, применяемых для возведения стен и перегородок. Он представляет собой ячеистые блоки автоклавного твердения, куда входит кварцевый песок, вода, цемент, известь, алюминиевая пудра. При изготовлении блоков все компоненты перемешивают и отправляют в автоклав, где вспенивание происходит под давлением, вследствие этого образуется пористая структура.</p>
                        <p class="card-text text-justify hidden-md-down">Газобетонные блоки имеют сравнительно небольшой вес, но при этом они обладают большой прочностью. Газобетон – это наилучшее сочетание прочности, теплоизоляции и легкости. Одним из его главных преимуществ является его легкая обрабатываемость. Его можно легко распилить любым ручным пилящим инструментом на блоки нужного вам размера.</p>
</div></div></div></div><br>
<div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center h4">Преимущество строительства домов из газобетона:</p>
            </div></div>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/estetichnost.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="эстетичность"></p>
                    </center>
                    <p class="lead text-center"><b>Эстетичность</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/prochnost.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="прочность"></p>
                    </center>
                    <p class="lead text-center"><b>Прочность</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/dolgovechnost.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="прокладка"></p>
                    </center>
                    <p class="lead text-center"><b>Долговечность</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/shumoizolyaciya.jpg"
                                style="width:70%;" class="opacity rounded-circle" alt="шумоизоляция"></p>
                    </center>
                    <p class="lead text-center"><b>Шумоизоляция</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/ognestoykost.jpg" style="width:70%;" class="opacity rounded-circle" alt="огнестойкость"></p>
                    </center>
                    <p class="lead text-center"><b>Огнестойкость</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                    <p><img src="/wa-data/public/site/img/gazobeton/ekologichnost.jpg" style="width:70%;" class="opacity rounded-circle" alt="экологичность"></p></center>
                    <p class="lead text-center"><b>Экологичность</b></p>
                    </div></div>
            <div class="col-md-3 mb-3">
            <div class="card-block">
            <center><p><img src="/wa-data/public/site/img/gazobeton/nizkaya-teploprovodnost.jpg" style="width:70%;" class="opacity rounded-circle" alt="низкая теплопроводность"></p></center>
            <p class="lead text-center"><b>Низкая теплопроводность</b></p></div>
            </div></div></div>
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-12 col-md-9">
<div class="card-block">
<p class="text-justify">Летом дома из газобетонных блоков не перегреваются, а зимой не промерзают, так как этот материал имеет хорошие теплоизоляционные свойства. Еще газобетон обладает хорошей звукоизоляцией. Так же этот материал не горюч и имеет наивысший класс огнестойкости. По своим экологическим свойствам данный материал соответствует натуральным природным материалам.</p>
                    <p class="text-justify">Дома из газобетонных блоков возводятся достаточно быстро и имеют достаточно небольшую стоимость по сравнению с возведением домов из других материалов.</p>
</div></div></div></div>
<div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center h4">Если вы решили заказать проект здания из газобетона у нас вы можете:</p>
            </div></div>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/ostavit-zayavku.jpg" style="width:40%;"
                                class="opacity rounded-circle" alt="вы можете оставить заявку"></p>
                    </center>
                    <p class="lead text-center"><button href="#"
                            class="call-back-button btn btn-lg hidden-xs-down">Оставить заявку на проектирование на нашем сайте </button></p><p class="lead text-center"><b>и наши специалисты свяжутся с вами</b></p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/podehat-samomu.jpg" style="width:40%;"
                                class="opacity rounded-circle" alt="вы можете лично подъехать"></p>
                    </center>
                    <p class="lead text-center"><b>Лично подъехать в наш офис в отдел проектирования</b></p>
                </div>
            </div>
                </div>
            </div>
            <div class="container">
<div class="row justify-content-center">
<div class="col-sm-12 col-md-9">
<div class="card-block">
<p class="text-justify">Заказав проект у нас сейчас, вы получите качественный готовый проект в максимально короткие сроки. Так же наши специалисты четко контролируют весь процесс строительства. Это не позволит допустить ошибок и неточностей при реализации проекта.</p>
</div></div></div>
<div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center h4">В стоимость работ по возведению домов из газобетона входит:</p>
            </div></div>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/ustroystvo-fundamenta.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="устройство фундамента"></p>
                    </center>
                    <p class="lead text-center"><b>Устройство фундамента</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/peregorodki-gazobeton.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="монтаж стен и перегородок из газобетонных блоков"></p>
                    </center>
                    <p class="lead text-center"><b>Монтаж стен и перегородок из газобетонных блоков</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/montag-perecrytiy.jpg" style="width:70%;"
                                class="opacity rounded-circle" alt="монтаж перекрытий"></p>
                    </center>
                    <p class="lead text-center"><b>Монтаж перекрытий</b></p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-block">
                    <center>
                        <p><img src="/wa-data/public/site/img/gazobeton/ustroystvo-krovli.jpg"
                                style="width:70%;" class="opacity rounded-circle" alt="устройство кровли"></p>
                    </center>
                    <p class="lead text-center"><b>Устройство кровли</b></p>
                </div>
            </div>
            </div></div>
            <div class="row justify-content-center">
<div class="col-sm-12 col-md-9">
<div class="card-block">
<p class="text-justify">При заказе проекта у нас, наши геодезисты бесплатно выедут на место для выполнения геодезической съемки для целей проектирования. Так же наши геодезисты будут сопровождать весь процесс строительства с целью соблюдения геометрических параметров объекта строительства, включая геодезическую съемку завершенного строительного объекта.</p>
</div></div></div>
</div>
</div>
<br>
<br>
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 mb-3">
<div class="card-block">
<p class="text-center display-4">Почему лучше заказать проект дома у нас?</p>
</div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10102;</p>
<p><img src="/wa-data/public/site/img/gazobeton/individualnyy-podhod-k-kazhdomu-klientu.jpg" style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary" alt="индивидуальный подход"></p>
<p class="text-center lead text-primary"><b>Индивидуальный подход к каждому клиенту</b></p></center>
</div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10103;</p>
<p><img src="/wa-data/public/site/img/gazobeton/vse-proekty-vypolnyayutsya-opytnymi-specialistami.jpg" style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary" alt="все проеты выполняются специалистами"></p>
<p class="text-center lead text-primary"><b>Все проекты выполняются опытными специалистами</b></p></center></div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10104;</p>
    <p><img src="/wa-data/public/site/img/gazobeton/sovremennoe-programmnoe-obespechenie.jpg" style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary" alt="при проектировании используются современное ПО"></p>
<p class="text-center lead text-primary"><b>При проектировании используются современное программное обеспечение</b></p></center></div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10105;</p>
<p><img src="/wa-data/public/site/img/gazobeton/izmeneniya-proekta-po-vashim-pozhelaniyam.jpg" style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary" alt="возможность изменения проекта"></p>
<p class="text-center lead text-primary"><b>Возможность изменения проекта по вашим пожеланиям</b></p></center>
</div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10106;</p>
<p><img src="/wa-data/public/site/img/gazobeton/vse-nashi-proekty-byli-realizovany-ranee.jpg" class="card-img-top opacity rounded-circle card card-outline-primary"  style="width:60%;" alt="все наши проекты были реализованы ранее"></p></center>
<p class="text-center lead text-primary"><b>Все наши проекты были реализованы ранее</b></p>
</div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10107;</p>
<p><img src="/wa-data/public/site/img/gazobeton/garantiya-na-vypolnennye-proekty.jpg" class="card-img-top opacity rounded-circle card card-outline-primary" style="width:60%;" alt="предоставляется гарантия"></p>
<p class="text-center lead text-primary"><b>Предоставляется гарантия на выполненные проекты</b></p>
</center>
</div></div>
<div class="col-md-3 mb-3">
<div class="card-block">
<center>
<p class="h2 text-primary">&#10108;</p>
<p><img src="/wa-data/public/site/img/gazobeton/pomoshch-v-soglasovanii-proekta.jpg" style="width:60%;" class="card-img-top opacity rounded-circle card card-outline-primary" alt="помощь в согласовании проекта"></p>
<p class="text-center lead text-primary"><b>Помощь в согласовании проекта</b></p>
</center>
</div>
</div>
</div></div>
{$wa->block("footerbtmap")}